html, body, #container /*, and all other map parent selectors*/ {
  height: 100%;
  overflow: hidden;
  width: 100%;


}


table {
  margin: 0 auto; /* or margin: 0 auto 0 auto */
  border-collapse: separate;
  /* border-spacing: 10px; */
  text-align: center;
  word-wrap: break-word;



  /*FONT */
  color: #f6fbff; 
  font-family: 'Lucida Sans', Arial, sans-serif; 
  font-size: 20px; 
  line-height: 26px; 
  text-indent: 30px; 
}

.answerbutton {
  border: 2px solid #FFF;
  border-radius: 15px;
  -moz-border-radius: 15px;
  background-image: linear-gradient( 10deg, #085078, #85d8ce ); 
  font-size: 22px;
}

#mapid {
    width: auto;
    height: 100%;
    overflow: hidden;
}

.locked{
  pointer-events: none;
  display: block;
}
.unlocked{
  display: block;
  
}


.activatedBtn{
    border: 3px solid rgba(60, 255, 0, 0.699) !important; /* Green border */
}

.deactivatedBtn{
    border: 1px solid rgb(0, 0, 0) !important; /* Green border */ 

}

#routeinfo {
  display: block;
  background-color: rgb(95, 95, 95); /* Green background */
  border: 1px solid rgb(0, 0, 0); /* Green border */
  color: white; /* White text */
  width: 800px; 
  height: 50px;
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.btn-group button  {
    background-color: rgb(95, 95, 95); /* Green background */
    border: 1px solid rgb(0, 0, 0); /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .loaderC{
    /*visibility: hidden; */
    width: 30px;
    height: 30px;
    left: 97%;
    top: 3%;
    position: absolute;

    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */

    /* #085078, #85d8ce */ 

    border: 8px solid #085078; /* Light grey */
    border-top: 8px solid #85d8ce; /* Blue */
    border-radius: 50%;
    /*width: 20px;
    height: 20px; */
    animation: spin 1s linear infinite;
    z-index: 100000;

  }
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }

  .answerbutton:hover {
    background-image: linear-gradient( 10deg, #1D976C, #93F9B9 ); 
    /* background-color: green; */
  }

  #questionWindow{
    width: 100%;
    height: 100%;
  }

  #answerWindow{
    width: 100%;
    height: 100%;
  }

  #startWindow{
    width: 100%;
    height: 100%;
  }

  #finishWindow{
    width: 100%;
    height: 100%;
  }

  #questionWindowContainer{
  width: 40%;
  height: 30%;
  left: 5%;
  top: 20%;
  position: absolute;
  z-index: 10001;
  pointer-events: auto;
  visibility: hidden;


  padding: 10px;
  border: 2px solid #FFF;
  border-radius: 15px;
  -moz-border-radius: 15px;
  background-image: linear-gradient( 10deg, #085078, #85d8ce );

  color: #f6fbff; 
  font-family: 'Lucida Sans', Arial, sans-serif; 
  line-height: 26px; 
  text-indent: 30px;   
  }


  #answerWindowContainer{
    width: 40%;
    height: 30%;
    left: 5%;
    top: 20%;
    position: absolute;
    z-index: 10000;
    pointer-events: auto;
    visibility: hidden;
  
    padding: 10px;
    border: 2px solid #FFF;
    border-radius: 15px;
    -moz-border-radius: 15px;
    background-image: linear-gradient( 10deg, #085078, #85d8ce );
    
    color: #f6fbff; 
    font-family: 'Lucida Sans', Arial, sans-serif; 
    line-height: 26px; 
    text-indent: 30px; 
    }

    #startWindowContainer{
      width: 40%;
      height: 30%;
      left: 5%;
      top: 20%;
      position: absolute;
      z-index: 10000;
      pointer-events: auto;
      visibility: hidden;
    
      padding: 10px;
      border: 2px solid #FFF;
      border-radius: 15px;
      -moz-border-radius: 15px;
      background-image: linear-gradient( 10deg, #085078, #85d8ce );
      
      color: #f6fbff; 
      font-family: 'Lucida Sans', Arial, sans-serif; 
      line-height: 26px; 
      text-indent: 30px; 
      }

      #finishWindowContainer{
        width: 40%;
        height: 30%;
        left: 5%;
        top: 20%;
        position: absolute;
        z-index: 10000;
        pointer-events: auto;
        visibility: hidden;
      
        padding: 10px;
        border: 2px solid #FFF;
        border-radius: 15px;
        -moz-border-radius: 15px;
        background-image: linear-gradient( 10deg, #085078, #85d8ce );
        
        color: #f6fbff; 
        font-family: 'Lucida Sans', Arial, sans-serif; 
        line-height: 26px; 
        text-indent: 30px; 
        }


    #distanceDisplay{
      text-align: center;
      width: 10%;
      height: 3%;
      left: 45%;
      bottom: 2%;
      position: absolute;
      z-index: 10000;
      pointer-events: auto;
      /*visibility: hidden;*/
      visibility: hidden;

    
      padding: 10px;
      border: 2px solid #FFF;
      border-radius: 15px;
      -moz-border-radius: 15px;
      background-image: linear-gradient( 10deg, #085078, #85d8ce );
      font-size: 20px;

      color: #f6fbff; 
      font-family: 'Lucida Sans', Arial, sans-serif; 
      line-height: 26px; 
      //text-indent: 30px; 
  
      }


      #streetSign{
        text-align: center;
        width: 20%;
        height: 4%;
        left: 40%;
        top: 2%;
        position: absolute;
        z-index: 10000;
        pointer-events: auto;
        font-size: 26px;
        visibility: hidden;

        /*visibility: hidden;*/
      
        padding: 10px;
        border: 2px solid #FFF;
        border-radius: 15px;
        -moz-border-radius: 15px;
        background-image: linear-gradient( 10deg, #085078, #85d8ce );  


        color: #f6fbff; 
        font-family: 'Lucida Sans', Arial, sans-serif; 
        line-height: 26px; 
        text-indent: 30px; 
        }

        #depiction{
        height: 100%;
        width: 100%;
        object-fit: contain;
        }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



/*FONT SETTINGS */
h1 { color: #ffffff; font-family: 'Lato', sans-serif; font-size: 54px; font-weight: 300; line-height: 58px; margin: 0 0 58px; }


p { color: #adb7bd; font-family: 'Lucida Sans', Arial, sans-serif; font-size: 16px; line-height: 26px; text-indent: 30px; margin: 0; }


a { color: #fe921f; text-decoration: underline; }


a:hover { color: #ffffff }


.date { background: #fe921f; color: #ffffff; display: inline-block; font-family: 'Lato', sans-serif; font-size: 12px; font-weight: bold; line-height: 12px; letter-spacing: 1px; margin: 0 0 30px; padding: 10px 15px 8px; text-transform: uppercase; }