
body{
    overflow: hidden;
}

#mapid {
    height: 800px;
    overflow: hidden;
}

.locked{
  pointer-events: none;
  display: block;
}
.unlocked{
  display: block;
  
}


.activatedBtn{
    border: 3px solid rgba(60, 255, 0, 0.699) !important; /* Green border */
}

.deactivatedBtn{
    border: 1px solid rgb(0, 0, 0) !important; /* Green border */ 

}

#routeinfo {
  display: block;
  background-color: rgb(95, 95, 95); /* Green background */
  border: 1px solid rgb(0, 0, 0); /* Green border */
  color: white; /* White text */
  width: 800px; 
  height: 50px;
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.btn-group button  {
    background-color: rgb(95, 95, 95); /* Green background */
    border: 1px solid rgb(0, 0, 0); /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .loaderC{
    visibility: hidden;
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    border: 8px solid #8b8b8b; /* Light grey */
    border-top: 8px solid #3e8e41; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    z-index: 10;

  }
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }

  .answerbutton:hover {
    background-color: green;
  }

  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



